@font-face {
  font-family: 'Corpo';
  src: url('/Fontes/Inclusive_Sans/InclusiveSans-VariableFont_wght.ttf');
}

#acesso {
    position: relative; 
    width: 100%;
    height: 800px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
  }
  

  #acesso::before {
    content: "";
    background-image: url('../../Imagens/Login/FundoSemFundo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.1; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  input{
    font-family: Corpo, sans-serif;
    border: none;
    background-color: #FEFCF3;
    margin-left: 15px;
    position: cen;
  }

  input:focus {
    outline: none;
  }


  label{
    font-family: Corpo, sans-serif;
  }

  button{
    font-family: Corpo, sans-serif;
  }

  .container {
    display: flex;
  }
  
  .campo {
    display: flex;
    margin-left: 10px;
    max-width: 350px;
    width: 100%;
    border: solid 1px;
    background: linear-gradient(to right, #FF9100 1px, #FEFCF3 60px);
    border-radius: 8px;
    padding: 5px;
  }