main{
    font-family: Titulo, sans-serif;
    text-align: center;
}

#momento{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    gap: 15px;
}

#momento h1{
    font-size: 2rem;
}

#tema{
    display: flex;
    background-color: #bfefdb81;
    width: 70%;
    height: 250px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

#temaTexto{
    padding: 30px;
    font-family: Corpo, sans-serif;
    text-align: center;
}

#conteudo{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    font-family: Corpo, sans-serif;
}

#reflexao{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    background-color: #bfefdba4;
    border-radius: 15px;
    padding: 20px;
}

#reflexao h2{
    font-size: 1.2rem;
}

#caixaResposta{
    margin-right: 20px;
    margin-top: 20px;
    text-align: left;
}

#caixaResposta label{
    font-family: Corpo, sans-serif;
}

#reflexao #botao {
    margin-top: 10px;
    margin-left: 90%;
}

#resposta{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Corpo, sans-serif;
    resize: none;
}

a{
    color: #52695f;
}

#navMenu{
    background-color: #bfefdb81;
}

header {
    background-image: linear-gradient(to bottom, #bfefdb, #FEFCF3 60%);
}

footer{
    background-image: linear-gradient(to bottom, #FEFCF3 ,#bfefdb 60%);
}

#botao {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #073B4C;
    color: white;
}