@font-face {
    font-family: 'Corpo';
    src: url(../Fontes/Inclusive_Sans/InclusiveSans-VariableFont_wght.ttf);

}
@font-face {
    font-family: 'Titulo';
    src: url(../Fontes/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

body{
    overscroll-behavior-y: none;
}

header > nav{
    padding-top: 80px;
    padding-left: 275px;
}

header > h1{
    font-size: 1.75rem;
}

nav > a {
    text-decoration: none;
    padding-right: 20px;
}

main{
    font-family: Titulo, sans-serif;
    text-align: center;
}

article{
    font-family: Corpo, sans-serif;
    text-align: left;
}

#apresentacao{
    padding-top: 100px;
    display: flex;
    text-align: left;
}

#apresentacao{
    text-align: lef;
}

#textos{
    font-size: 1.10rem;
    margin-left: 100px;
    margin-right: 50px;
    background-color: #bfe0ef54;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
}

#apresentacao img{
    height: 350px;
    width: auto;
    margin-right: 100px;
    border-radius: 10px;
}

#conteudos{
    display: flex;
    margin-top: 20px;
}

#conteudos img{
    height: 450px;
    width: auto;
    margin-left: 100px;
    border-radius: 10px;
}

#txt{
    font-size: 1.10rem;
    margin-right: 100px;
    margin-left: 50px;
    background-color: #bfe0ef54;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
}

#seguranca{
    padding-top: 20px;
    display: flex;
    text-align: left;
}

#seguranca{
    text-align: lef;
}

#tex{
    font-size: 1.10rem;
    margin-left: 100px;
    margin-right: 50px;
    background-color: #bfe0ef54;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
}

#seguranca img{
    height: 350px;
    width: auto;
    margin-right: 100px;
    border-radius: 10px;
}