html, body {
    overscroll-behavior-y: none;
}

main {
    font-family: Titulo, sans-serif;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

#titulo {
    margin-bottom: 40px;
}

#carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.pacientes {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.paciente {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nome {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.descricao {
    text-align: center;
    margin-bottom: 10px;
}

.principal .nome {
    width: 250px;
    height: auto;
}

.principal .descricao {
    width: 250px;
    min-height: 120px;
}

.pequeno .nome {
    width: 200px;
    height: auto;
    opacity: 0.4;
}

.pequeno .descricao {
    width: 200px;
    min-height: 100px;
    opacity: 0.4;
}

.seta {
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-curtir {
    width: 120px;
    border-radius: 10px;
    border: 1px solid #f1a7b8bd;
    background-color: #f6547ae9;
    color: white;
    cursor: pointer;
    padding: 10px 0;
    margin-top: 10px;
}

.btn-curtir:hover {
    opacity: 0.9;
}

.acoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    align-items: center;
}
.visualizar {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #073B4C;
    font-family: Corpo, sans-serif;
    font-size: 14px;
}

.visualizar img {
    width: 20px;
    height: 20px;
}

.visualizar:hover {
    opacity: 0.8;
}

.card {
    background-color: #f1a7b8bd;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    padding: 15px;
    text-align: center;
}