html, body {
    overscroll-behavior-y: none; 
  }

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 150px;
}

.conteiner {
    display: flex;
    flex-direction: row;
    gap: 50px;
}


.pacientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid 1px;
    width: 300px;
    height: 500px;
    min-height: 300px;
    border-radius: 15px;
}

.Vizualizar{
    width: 300px;
    margin-top: 20px;
    border-top: 1px solid ;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 20px;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Vizualizar img{
    width: 50px;
    height: 50px;
}

.icone {
    display: flex;          
    align-items: center;    
    gap: 10px;              
    text-decoration: none;
    color: #333;
  }

  #mensagemVazio {
    display: none;
    text-align: center;
    color: #666;
    font-size: 1.1rem;
    margin-top: 40px;
}
#loading {
    text-align: center;
    color: #888;
    font-size: 1rem;
    margin-top: 40px;
}